
.bar {
    fill: steelblue;
}

div.tooltip {
    background-color: black;
    color: #fff;
    text-align: left;
    text-indent: 5px;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

div.tooltip>div {
    display: block;
    text-align: right;
    text-indent: 0;
    margin-left: 5px;
    margin-right:5px;
}

/* arrow */
div.tooltip::after {
    content: " ";
    position: absolute;
    top: 20px;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.msbc-exchangeRadio > label {
    height: 54px!important;
    line-height: 54px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.msbc-exchangeRadio > label > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}


path,line {
    stroke: #455a64;
}

.tick>text {
    fill: #455a64;
}

g>text {
    fill: #455a64;
}