body {
    font-family: "Helvetica", sans-serif;
}

.bar {
    fill: steelblue;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 35px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}